Repository typedb/typeql, pull requests merged in 2020-01, with the labels that each got.

#99 Upgrade to bazel rules_antlr package 0.4 from 0.2
  .bazelversion
  WORKSPACE
  dependencies/compilers/dependencies.bzl
  grammar/BUILD
Labels: bug, build, refactor

#100 Use forked rules_antlr
  WORKSPACE
  dependencies/compilers/dependencies.bzl
  grammar/BUILD
Labels: bug, build

#101 Update build-tools in order to fix the HTTPS issue when accessing Maven Central
  dependencies/graknlabs/dependencies.bzl
Labels: build
