Repository typedb/typeql, pull requests merged in 2024-11, with the labels that each got.

#376 Commit generated Cargo.toml
  .gitignore
  BUILD
  Cargo.toml
  dependencies/typedb/repositories.bzl
  rust/BUILD
  rust/Cargo.toml
  tool/ide/rust/sync.sh
Labels: type: build, priority: high

#378 Update maven snapshot
  dependencies/maven/artifacts.snapshot
Labels: priority: medium, dependencies

#379 Add function redefine, other small changes for functions
  .factory/automation.yml
  rust/parser/define/function.rs
  rust/parser/redefine.rs
  rust/parser/test/functions.rs
  rust/parser/test/mod.rs
  rust/parser/typeql.pest
  rust/query/schema/define.rs
  rust/schema/definable/function.rs
  rust/schema/definable/type_/mod.rs
Labels: type: feature
